[submodule "07-neural-networks-and-backpropagation"]
	path = 07-neural-networks-and-backpropagation
	url = git@github.com:KohlensaeureJunk/07-neural-networks-and-backpropagation.git
[submodule "08-neural-networks-higgs"]
	path = 08-neural-networks-higgs
	url = git@github.com:KohlensaeureJunk/08-neural-networks-higgs.git
[submodule "09-graph-net-top"]
	path = 09-graph-net-top
	url = git@github.com:KohlensaeureJunk/09-graph-net-top.git
[submodule "10-lorentz-networks"]
	path = 10-lorentz-networks
	url = git@github.com:KohlensaeureJunk/10-lorentz-networks.git
[submodule "11-unsupervised-ml"]
	path = 11-unsupervised-ml
	url = git@github.com:KohlensaeureJunk/11-unsupervised-ml.git
