[submodule "02-distributions-and-random-numbers"]
	path = 02-distributions-and-random-numbers
	url = git@github.com:KohlensaeureJunk/02-distributions-and-random-numbers.git
[submodule "03-fitting"]
	path = 03-fitting
	url = git@github.com:KohlensaeureJunk/03-fitting.git
[submodule "04-knn-and-sklearn-simple-models"]
	path = 04-knn-and-sklearn-simple-models
	url = git@github.com:KohlensaeureJunk/04-knn-and-sklearn-simple-models.git
[submodule "05-validation-and-metrics"]
	path = 05-validation-and-metrics
	url = git@github.com:KohlensaeureJunk/05-validation-and-metrics.git
[submodule "06-trees-ensembles-boosting"]
	path = 06-trees-ensembles-boosting
	url = git@github.com:KohlensaeureJunk/06-trees-ensembles-boosting.git
[submodule "07-neural-networks-and-backpropagation"]
	path = 07-neural-networks-and-backpropagation
	url = git@github.com:KohlensaeureJunk/07-neural-networks-and-backpropagation.git
[submodule "08-neural-networks-higgs"]
	path = 08-neural-networks-higgs
	url = git@github.com:KohlensaeureJunk/08-neural-networks-higgs.git
[submodule "09-graph-net-top"]
	path = 09-graph-net-top
	url = git@github.com:KohlensaeureJunk/09-graph-net-top.git
[submodule "10-lorentz-networks"]
	path = 10-lorentz-networks
	url = git@github.com:KohlensaeureJunk/10-lorentz-networks.git
[submodule "11-unsupervised-ml"]
	path = 11-unsupervised-ml
	url = git@github.com:KohlensaeureJunk/11-unsupervised-ml.git
