[submodule "09-graph-net-top"]
	path = 09-graph-net-top
	url = git@github.com:KohlensaeureJunk/09-graph-net-top.git
[submodule "10-lorentz-networks"]
	path = 10-lorentz-networks
	url = git@github.com:KohlensaeureJunk/10-lorentz-networks.git
[submodule "11-unsupervised-ml"]
	path = 11-unsupervised-ml
	url = git@github.com:KohlensaeureJunk/11-unsupervised-ml.git
